

#acer1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Almarai', sans-serif;
	font-size: 120px;
	margin: 50px;
	max-width: 820px;
	width: auto;
	border: 3px solid black;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
}

#acer2{
	display: flex;
	font-family: 'Almarai', sans-serif;
	font-size: 38px;
	margin: 0 10px;
	margin: 0px 50px;
	height: auto;
	width: auto ;
	max-width: 1700px;
	padding: 20px;
	border-radius: 50px 50px 50px 50px;
	border: 3px solid black;
	box-shadow: 25px 25px 0px 0px rgba(0,0,0,1);
	transition: 0.5s;
}

#acer2:hover {
	transform: scale(1.05);
	cursor: pointer;
}

@media only screen and (max-width:551px) {
	#acer1{
		font-size: 80px;
	}
}

@media only screen and (max-width:566px) {
	
	#acer1{
		font-size: 40px;
		
	}

	#acer2{
		font-size: 30px;
	}
}

@media only screen and (max-width:378px) {
	
	#acer1{
		font-size: 40px;
		
	}

	#acer2{
		font-size: 20px;
	}
}