#con1 {
	display: flex;
	justify-content: start;
	align-items: center;
	font-family: 'Almarai', sans-serif;
	font-size: 120px;
	margin: 50px;
	max-width: 600px;
	width: auto;
	border: 3px solid black;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
}

#con2 {
	display: flex;
    font-family: 'Almarai', sans-serif;
	font-size: 40px;
	margin: 0 10px;
	margin: 0px 50px;
	padding: 15px;
	max-width: 550px;
	width: auto;
	border: 3px solid black;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
	transition: 0.4s;
}

#con2:hover {
	transform: scale(1.1);
	cursor: pointer;
}

@media only screen and (max-width:690px) {
	#con1 {
		font-size: 70px;
	}

	#con2 {
		font-size: 25px;
	}

}

@media only screen and (max-width:466px) {
	#con1 {
		font-size: 40px;
	}

	#con2 {
		font-size: 10px;
	}

}

@media only screen and (max-width:310px) {
	#con1 {
		font-size: 30px;
	}
}